@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost/static/Jost-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost/static/Jost-Bold.ttf) format('truetype');
    font-style:normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Caveat';
    src: url(../fonts/Caveat/static/Caveat-Regular.ttf) format('truetype');
}

